<nav>
  <div class="nav-wrapper blue">
    <%= link_to "What's Happening in #{session[:search_keyword].presence || '...'}", root_path, class: "brand-logo center" %>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><i><%= link_to 'view_module', root_path, class: 'material-icons' %></i></li>
        <li><i><%= link_to 'search', root_path, class: 'material-icons' %></i></li>
        <li><%= link_to "Sights", images_path %></li>
        <li><%= link_to "Thoughts", '#' %></li>
        <li><%= link_to "Happenings", events_index_path %></li>
        <li><%= link_to 'Travel Tips', travel_tips_path %></li>
    </ul>
  </div>
</nav>
